<ion-view hide-nav-bar="true">
  <ion-content padding="false" class="manual-ios-statusbar-padding innerbackground eoko-content" scroll="false" style="filter: blur({{blurry.behind}});">

    <div style="margin-top: 7px;">
      <img class="" src="img/setting_icon.png" ui-sref="settingPage" style="float: right; width: 9vw; margin-right: 5vw;"/>
    </div>

    <i id="share" class="fa fa-user-plus" aria-hidden="true" ng-click="showLink()"></i>
    <div id="sharelink" ng-if="link==1">
        <div ng-if="android==1" ng-hide="android==0">
          <a href="https://play.google.com/store/apps/details?id=com.eokoteam.eoko&hl=en"> Play Store </a>
        </div>
        <div ng-if="apple==1" ng-hide="apple==0">
          <a href="https://play.google.com/store/apps/details?id=com.eokoteam.eoko&hl=en"> App Store </a>
        </div>
        <!-- _________________ share button ______ -->
      <div data-href="https://itunes.apple.com/us/app/eoko/id1211065697?mt=8" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Feoko%2Fid1211065697%3Fmt%3D8&amp;src=sdkpreparse">Share On Wall</a></div>

      </div>
    </div>
    <div>
      <img style="margin-right: 18vw;" class="logo" src="img/Eoko-logo.svg"/>
      <img class="tagline" src="img/peoplenearyou.png"/>
    </div>

    <!-- Search bar right here -->
    <div id="C0" ng-show="searchBar==2">
      <a class="eoko-icon-search-black"></a>
      <input placeholder="Search people" ng-model="searchPeople.info.name"  />
      <button ng-click="searchPeople.info.name=''" >X</button>
    </div>



    <!-- <button ng-click="facebookFuckery()">FUCKERY</button> -->

    <!-- ____________________  DISPLAY USER FRIENDS WITHIN 10 MILES  _________________  -->
    <ion-scroll id="C" overflow-scroll="false" style="height: calc(86% - 70px);">

      <ion-refresher on-refresh="doRefresh()"></ion-refresher>


      <div id="C1" ng-repeat="(key,x) in people | orderObjectBy:'distance' | filter: searchPeople " ng-if="currentUser.uid != x.info.uid && (x.info.age >= low && x.info.age<=high) && (peopleFilter=='public' && x.info.display=='public') ||  (x.info.age >= low && x.info.age<=high) && (peopleFilter=='private' && (x.info.display=='private' || x.info.display=='public') && userFriendsList[x.info.uid])"> <!-- ng-show="distList[$index].age > low && distList[$index].age < high"> -->
        <img ng-src="{{x.info.photoURL}}" ng-click="viewProfilePopover($event, x)"/>
        <div id="C1A" ng-click="viewProfilePopover($event, x)">
          {{x.info.name}}
          <br />

          <div ng-if="x.distance >= 0.1" id="C2">
            {{x.distance | number:1}} miles
          </div>
          <div ng-if="x.distance < 0.1" id="C2">
            {{x.distance * 5280  | number:1 }} feet
          </div>


        </div>


        <div id="C3">
            <img id="one" src="img/eoko-login.png" ng-click="openPopover($event, x)"/>
          <!--  <img id="two" src="http://freevector.co/wp-content/uploads/2014/06/facebook-messenger-white.png"
            ng-click="newConversation(x)" /> -->
          </div>



      </div>

      <div style="height:140px"></div>
    </ion-scroll>

<!-- ___________________________  THIS IS THE NUDGE  ___________________________  -->
<script id="my-popover.html" type="text/ng-template">
    <div ng-click="checkHit($event)" class="popup-container popup-showing active">
      <div class="details">
        <div id="D" ng-if="pop == 'nudge'" style="height: 40vh ">
          <div id="D1">
            <h3>Send a Nudge!</h3>
            <!-- <i class="fa fa-times" aria-hidden="true" ng-click="hideEokoNudge()"></i> -->
            <br>
          </div>
          <div id="D2">
            <div id="D2A">
              <img ng-src="{{currentUser.photoURL}}" />
              <h4> {{currentUser.displayName}} </h4>
            </div>
            <div id="D2B">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
            <div id="D2C">
              <img ng-src="{{otherUser.info.photoURL}}" />
              <h4> {{otherUser.info.name}}</h4>
            </div>
          </div><br>
          <div id="D3">
            <button ng-click=sendNudge()> Send </button>
          </div>
        </div>


      <!-- _____________________ THIS DISPLAY ACTIVE ACTIONS OF AN USER __________________________ -->
        <div id="D" ng-if="pop == 'profile'" style="height: 80vh">
          <div id="D1" ><h3>{{otherUser.name}}</h3></div>
          <div id="D2"><img ng-src="{{otherUser.info.photoURL}}" /></div>

          <!-- _____________________ THIS DISPLAY LIST OF THE ACTIONS OF AN USER __________________________ -->
          <div id="D4">
            <h5>Active Actions</h5>
            <ion-scroll overflow-scroll="false" style="max-height: 24vh;" ng-if="otherUser.info.actions.myActions">
              <ion-item ng-repeat="action in otherUser.info.actions.myActions" style="background-color: rgba(0,0,0,0);color: white" ng-click="viewPersonAction(action.eventID, true)">
                <div class="activeActions">{{action.name}}</div>  <span style="float:right;">{{action.time}}</span>
              </ion-item>
            </ion-scroll>
            <h5 ng-if="!(otherUser.info.actions.myActions)"> No active actions at this time</h5>
          </div>

          <!-- _____________________  THIS IS THE CLOSE BUTTON __________________________ -->
          <div id="D3">
            <button ng-click=closePopover()> Close </button>
          </div>
        </div>
      </div>
    </div>
  </script>
</ion-content>
</ion-view>
