<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="innerbackground" scroll="false">

  <!-- _____________________________ FORM DIV ___________________________________ -->
    <div id="E1">
      <i class="fa fa-search"></i>
      <div id="E1A" ui-sref="tabsController.eventList"><button> Action </button></div>
      <div id="E1B" ui-sref="actionCreate"><button style="border-bottom: 0.1px solid rgb(230,126,34)"> Create </button></div>
    </div>
    <div id="B" ng-show="description==0">
      <h1> WHAT ARE YOU CURRENTLY DOING? </h1>
      <form>
        <!-- ____________ TAGS ___________ -->
        <div id="B2">
          <button> Food </button>
          <button> Fitness </button>
          <button> Networking </button>
          <button> Nightlife </button>
          <button> Pickup Sports </button>
          <button> Study </button>
          <button> Party </button>
          <button> Meetup </button>
        </div>

        <!-- _____________________________ INPUT FIELD ___________________________________ -->
        <input ng-model="action.title" type="text" placeholder="Title (e.g Coffee at Saxby)"/>
        <input ng-model="action.location" type="text" placeholder="Location"/>
        <input ng-model="action.time" type="time" placeholder="Time"/>
        <div id="B4">
          <button> Public </button>
          <button> Private </button>
        </div>
        <div id="B3"><button ng-click="description=1"> NEXT </button></div>
      </form>

  <!-- _____________________________ SKIP BUTTON  ___________________________________ -->
      <h4> Skip <i class="fa fa-chevron-right" aria-hidden="true"></i></h4>
    </div>

    <!-- ____________________________________ DESCRIPTION FIELD  ________________________________________________ -->
    <div id="B" ng-show="description==1">
      <button id="back" ng-click="description=0"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
      <textarea ng-model="action.description" placeholder="Description (Currently drinking coffee at Saxby. Anyone want to hangout?)"></textarea>
      <button id="submit" ng-click="submit()"> SUBMIT </button>
    </div>

</ion-view>
