<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="innerbackground">
    <!--SPACER-->
    <div class="spacer" style="height: 30px;"></div>

    <!-- SEARCH BAR -->
    <div id="L">
      <a class="eoko-icon-searchbar-left"></a>
      <input placeholder="Search messages" ng-model="search.text">
      <!-- <a ng-click="newConversation()" class="eoko-button-clear eoko-icon-new-message"></a> -->
    </div>

    <!--PEOPLE NEAR YOU LIST-->
    <ion-scroll id="L1" direction="x" scrollbar-x="false" scrollbar-y="false">
        <img *ngFor="#item of items" src="http://placehold.it/150x70">
    </ion-scroll>


    <!--SPACER-->
    <div class="spacer" style="height: 30px;"></div>


    <ion-scroll style="height: calc(100%); padding: 0px;">
      <ion-list id="actionList">

      <div ng-if="chatData.length == 0" class="eoko-text-button-nav" style="text-align:center;"><span style="line-height: 33px;">No Conversations Started. Press and hold a friend's name to start one!</span>
        </div>

          <ion-item ng-repeat="chat in chatData" ng-if="chat.title != ''">
            <h3 ng-if="chat.info.name == ''">{{chat.title}}</h3>
            <h3 ng-if="chat.info.name != ''">{{chat.info.name}}</h3>

            <a ui-sref="messagePage({otherID: chat.info.ids, convoID: chat.info.$id})"
               class="eoko-button-clear ion-chevron-right" native-transitions nav-direction="forward"
               style="float:right;margin-top: -20px;color:black;"></a>
          </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>


  <!-- NAVIGATIO BAR -->
  <div id="navbar">
    <i ui-sref="joinList" class="fa fa-bell" aria-hidden="true"></i>
    <i ui-sref="eventList" class="fa fa-calendar" aria-hidden="true"></i>
    <i ui-sref="actionList" class="fa fa-users" aria-hidden="true"></i>
    <i ui-sref="chatTab" class="fa fa-comment" aria-hidden="true"></i>
  </div>

</ion-view>
