<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="innerbackground">
    <div class="spacer" style="height: 20px;"></div>
    <div >
      <div>
        <a class="eoko-icon-searchbar-small"></a>
        <input class="eoko-nav-searchbar" placeholder="Search by name" ng-model="search.text">
        <a ng-click="newConversation()" class="eoko-button-clear eoko-icon-new-message"></a>
    </div>


    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>

    <ion-scroll style="height: calc(100%); padding: 0px;">
      <ion-list id="actionList">

      <div ng-if="chatData.length == 0" class="eoko-text-button-nav" style="text-align:center;"><span style="line-height: 33px;">No Conversations Started. Press and hold a friend's name to start one!</span>
        </div>

          <ion-item ng-repeat="chat in chatData" ng-if="chat.title != ''">
            <h3 ng-if="chat.info.name == ''">{{chat.title}}</h3>
            <h3 ng-if="chat.info.name != ''">{{chat.info.name}}</h3>

            <a ui-sref="messagePage({otherID: chat.info.ids, convoID: chat.info.$id})"
               class="eoko-button-clear ion-chevron-right" native-transitions nav-direction="forward"
               style="float:right;margin-top: -20px;color:black;"></a>
          </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
