<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="innerbackground">
    <div id="E">
      <!-- _____________ NAVIGATION BAR _______ -->
      <div id="E1">
        <i class="fa fa-search"></i>
        <div id="E1A" ui-sref="tabsController.eventList"><button style="border-bottom: 0.1px solid rgb(230,126,34)"> Action </button></div>
        <div id="E1B" ui-sref="actionCreate"><button ui-sref="actionCreate"> Create </button></div>
      </div>

      <!-- _____________ CARDS OF EVENTS _______ -->
      <div id="E2">
        <div id="E2A" ng-repeat="x in events">
          <img ng-src="{{x.photoURL}}" />
          <div id="E2A1" ng-click="eventNudge=true">
            <h4>{{x.name}}</h4>
            <h5>{{x.startTime}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{distFromPlayer(x.location) | number:1}} miles</h5>
            <div id="F" ng-show="eventNudge">
              <h5 ng-click="eventNudge=false">X</h5>
              <img ng-src={{x.photoURL}} />
              <h2>{{x.owner}}</h2>
              <h1>{{x.name}}</h1>
              <h3>{{x.startTime}}</h3>
              <h3>{{distFromPlayer(x.location) | number:1}} miles</h3>
              <p>{{x.description}}</p>
              <button ng-click="joinAction(x.userID, x.id)"> Join </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
<!-- NAVIGATIO BAR -->
<div id="navbar">
  <button><i class="fa fa-bell" aria-hidden="true"></i></button>
  <button><i ui-sref="eventList" class="fa fa-calendar" aria-hidden="true"></i></button>
  <button><i ui-sref="actionList" class="fa fa-users" aria-hidden="true"></i></button>
  <button><i ui-sref="chatTab" class="fa fa-comment" aria-hidden="true"></i></button>
</div>
</ion-view>
