<ion-view hide-nav-bar="true" >
  <ion-content padding="true" class="innerbackground" style="filter: blur({{blurry.behind}});" scroll="false">
    <!-- <div id="E"> -->
      <!-- _____________ NAVIGATION BAR _______ -->
      <div id="E0" ng-show="searchBar==1">
        <input type="text" placeholder="Search for an event..." ng-model="searchEvent" />
        <button ng-click="searchBar = 2" >X</button>
      </div>
      <div id="E1" ng-show="searchBar==2">
        <i ng-click="searchBar = 1" class="fa fa-search"></i>
          <div id="E1A" ui-sref="eventList"><button style="border-bottom: 0.1px solid rgb(230,126,34)"> Action </button></div>
          <div id="E1B" ui-sref="actionCreate"><button ui-sref="actionCreate"> Create </button></div>
      </div>


      <ion-scroll direction="x" class="eoko-horizontal-scroll" scrollbar-x="false"
                scrollbar-y="false" style="height: 46px;">

        <button ng-repeat="tags in tagList" ng-click="selectFilter('{{tags.$value}}')" id="{{tags.$value}}" class="eoko-horizontal-scroll-button eoko-text-thin">
          {{tags.$value}}
        </button>
    </ion-scroll>

    <br>
     <ion-scroll overflow-scroll="false" style="height: calc(84% - 70px);">
      <!-- _____________ CARDS OF EVENTS _______ -->
      <div id="E2">
        <div id="E2A" ng-repeat="(key,x) in events | orderObjectBy:'distance' | filter: {display: true}">
          <img ng-src="{{x.info.photoURL}}" />
          <div id="E2A1" ng-click="openPopover($event, x)">
            <h4>{{x.info.name}}</h4>
            <h5>
              <span>{{x.info.startTime}}</span>
              <span id="spacer" style="padding: 0 1.618em;"></span>
              <span ng-if="x.distance >= 0.1">{{x.distance | number:1}} miles</span>
              <span ng-if="x.distance < 0.1">{{x.distance * 5280 | number:1}} feet</span>
            </h5>
          </div>
        </div>
      </div>
      </ion-scroll>
    <!-- </div> -->

    <script id="my-popover.html" type="text/ng-template">
    <div ng-click="checkHit($event)" class="popup-container popup-showing active">
      <div class="details">

      <!--- _________________________ THIS PART WILL POP UP WHEN THE USER CLICK ON EVENTT ____________ -->
      <div id="F">

        <!-- ___________ DISPLAY USER INFORMATION, IMAGE AND EVENT NAME, TIME _________________ -->
        <div id="F1">
          <img ng-src={{currUser.info.photoURL}} />
          <!-- <h2>{{currUser.info.owner}}</h2> -->
          <h1>{{currUser.info.name}}</h1>
          <div id="F1A">
            <h3>{{currUser.info.startTime}}</h3>
            <h3 ng-if="currUser.distance >= 0.1">{{currUser.distance | number:1}} miles</h3>
            <h3 ng-if="currUser.distance < 0.1">{{currUser.distance * 5280 | number:1}} feet</h3>
          </div>
          <p>{{currUser.info.description}}</p>
        </div>

        <!-- ___________ DISPLAY LIST OF PEOPLE WHO ARE JOINING IT _________________ -->
        <div id="F2">
          <p ng-if="!(currUser.info.participants)">Be the first to join!</p>
          <p>Going:</p>
          <ion-scroll overflow-scroll="false" scrollX="true">
            <span ng-repeat="parts in currUser.info.participants">
              <img src="{{parts.avatar}}">
            </span>
          </ion-scroll>
        </div>
        <button ng-click="joinAction(currUser.info.$id)"> Join </button>
      </div>
      </div>
    </div>
  </script>

</ion-content>
<!-- NAVIGATIO BAR -->
<div id="navbar" style="filter: blur({{blurry.behind}});">
  <button><i class="fa fa-bell" aria-hidden="true"></i></button>
  <button><i ui-sref="eventList" class="fa fa-calendar" aria-hidden="true"></i></button>
  <button><i ui-sref="actionList" class="fa fa-users" aria-hidden="true"></i></button>
  <button><i ui-sref="chatTab" class="fa fa-comment" aria-hidden="true"></i></button>
</div>
</ion-view>
