<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="innerbackground">
    <div id="E">
      <!-- _____________ NAVIGATION BAR _______ -->
      <div id="E1">
        <i class="fa fa-search"></i>
        <div id="E1A" ui-sref="tabsController.eventList"><button style="border-bottom: 0.1px solid rgb(230,126,34)"> Action </button></div>
        <div id="E1B" ui-sref="actionCreate"><button ui-sref="actionCreate"> Create </button></div>
      </div>

      <!-- _____________ CARDS OF EVENTS _______ -->
      <div id="E2">
        <div id="E2A" ng-repeat="(key,x) in events | orderObjectBy:'distance'">
          <img ng-src="{{x.info.photoURL}}" />
          <div id="E2A1" ng-click="eventNudge=true">
            <h4>{{x.info.name}}</h4>
            <h5>
              <span>{{x.info.startTime}}</span>
              <span id="spacer" style="padding: 0 1.618em;"></span>
              <span ng-if="x.distance >= 0.1">{{x.distance | number:1}} miles</span>
              <span ng-if="x.distance < 0.1">{{x.distance * 5280 | number:1}} feet</span>
            </h5>
            <!-- <h5>{{x.startTime}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{distFromPlayer(x.location) | number:1}} miles</h5> -->
            <div id="F" ng-show="eventNudge">
              <h5 ng-click="eventNudge=false">X</h5>
              <img ng-src={{x.photoURL}} />
              <h2>{{x.info.owner}}</h2>
              <h1>{{x.info.name}}</h1>
              <h3>{{x.info.startTime}}</h3>
              <!-- <h3>{{distFromPlayer(x.location) | number:1}} miles</h3> -->
              <p>{{x.info.description}}</p>
              <button ng-click="joinAction(x.userID, x.id)"> Join </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
<!-- NAVIGATIO BAR -->
<div id="navbar">
  <button><i class="fa fa-bell" aria-hidden="true"></i></button>
  <button><i ui-sref="eventList" class="fa fa-calendar" aria-hidden="true"></i></button>
  <button><i ui-sref="actionList" class="fa fa-users" aria-hidden="true"></i></button>
  <button><i ui-sref="chatTab" class="fa fa-comment" aria-hidden="true"></i></button>
</div>
</ion-view>
