<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="manual-ios-statusbar-padding innerbackground eoko-content" scroll="false" style="filter: blur({{blurry.behind}});">



    <!-- ___________________ THIS DIV WILL DISPLAY THE EVENTS THAT YOU HAVE CREATED ________________ -->
    <div id="I1">
      <div id="I1A">
        <button ng-click="show=1" style="border-bottom: 1px orange solid"> Created </button>
      </div>
      <div id="I1B">
        <button ng-click="show=3"> Joined </button>
      </div>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </div>

 <!--  <ion-scroll>
    <ion-list show-delete="false" can-swipe="true" id="I" >
      <p style="color: white;">Touch to edit. Swipe to delete.</p>
      <ion-item id="I2" ng-repeat="event in createdArray" ng-click="editAction(event.eventID)">
        <img ng-src="{{event.photoURL}}" />
        <div id="I2A">
          {{event.name}}
        </div>
         <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-scroll> -->

  <ion-scroll id="I">
    <ion-list show-delete="false" can-swipe="true" >
      <p style="color: white;">Touch to edit. Swipe to delete.</p>
      <ion-item ng-repeat="event in createdArray" ng-click="editAction(event.eventID)" class="I2">
        <img ng-src="{{event.photoURL}}" />
          <div id="I2A">{{event.name}}</div>
         <ion-option-button ng-click="deleteAction(event.eventID)" class="deleteButtonSwipe icon ion-trash-a"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-scroll>

</ion-content>
</ion-view>
