<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="innerbackground">
    <img class="logo" src="./img/eoko-logo.svg" />
    <img class="tagline" src="./img/peoplenearyou.png"></img>

    <div id="I">
      
    </div>
</ion-content>
<!-- NAVIGATION BAR -->
<div id="navbar">
  <button><i ui-sref="joinList" class="fa fa-bell" aria-hidden="true"></i></button>
  <button><i ui-sref="eventList" class="fa fa-calendar" aria-hidden="true"></i></button>
  <button><i ui-sref="actionList" class="fa fa-users" aria-hidden="true"></i></button>
  <button><i class="fa fa-comment" aria-hidden="true"></i></button>
</div>
</ion-view>
