<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="innerbackground">

    <!-- ___________________ THIS DIV WILL DISPLAY THE EVENTS THAT YOU HAVE CREATED ----------->
    <div id="I" ng-show="create==true">
      <div id="I1">
        <button style="border-bottom: 0.1px rgba(230, 126, 34, 0.9) solid" ng-click="create"> Created </button>
        <button ng-click="create=false"> Joined </button>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </div>
      <div id="error" ng-if="errorMessage != ''">
        {{errorMessage}}
      </div>
      <div id="I2" ng-repeat="event in myEvents">
        <img ng-src="{{event.photoURL}}" />
        <div id="I2A">
          {{event.name}}
        </div>
      </div>
    </div>


    <!-- ___________________ THIS DIV WILL DISPLAY THE EVENTS THAT YOU HAVE JOINED ----------->
    <div id="J" ng-show="create==false">
      <div id="I1">
        <button ng-click="create=true"> Created </button>
        <button style="border-bottom: 0.1px rgba(230, 126, 34, 0.9) solid" ng-click="create=false"> Joined </button>
      </div>
      <div id="error" ng-if="errorMessage2 != ''">
        {{errorMessage2}}
      </div>
      <div id="I2" ng-repeat="join in joinEvents">
        <img ng-src="{{join.photoURL}}" />
        <div id="I2A">
          {{join.name}}
        </div>
      </div>
    </div>
</ion-content>
<!-- NAVIGATION BAR -->
<div id="navbar">
  <button><i ui-sref="joinList" class="fa fa-bell" aria-hidden="true"></i></button>
  <button><i ui-sref="eventList" class="fa fa-calendar" aria-hidden="true"></i></button>
  <button><i ui-sref="actionList" class="fa fa-users" aria-hidden="true"></i></button>
  <button><i class="fa fa-comment" aria-hidden="true"></i></button>
</div>
</ion-view>
