<ion-view hide-nav-bar="true">
  <ion-content id="messagePageContent" padding="false" class="innerbackground" overflow-scroll="true" scroll="false">

    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>

    <a ui-sref="navController.chat" class="eoko-button-clear ion-chevron-left" native-transitions nav-direction="back" style="float: left; position: absolute;" ng-click="closeKeyboard()"></a>

    <div id="M">
      <img id="M0a" ng-src="{{chatInfo.photoURL}}"/>

      <!-- I have no idea how this works even though the two ng-ifs are the same?? -->
      <h3 id="M0b" ng-if="chatInfo.title!=''">{{chatInfo.title}}</h3>
      <h3 id="M0b" ng-if="chatInfo.title!=''">{{chatInfo.name}}</h3>


    </div>

    <div>
      <ion-scroll id="M5" style="{{M5style}}" on-swipe-down="onSwipeDown()" ng-click="closeKeyboard()">
        <div ng-repeat="message in messages track by $index" ng-class="{other: message.userId == myId}" class="messages">

          <div id="M1" ng-class="{'slide-right': hideTime, '': !hideTime}" style="height:auto;">

            <div ng-if="message.userId != myId">
              <img id="M1a" src="{{message.avatar}}">

              <!--other user's message-->
              <div id="M2">
                <div ng-if="message.userId != myId" class="eoko-text-ultralight time" ng-class="{'slide-right': hideTime, '': !hideTime}">
                      {{message.time}}
                </div>
                <span id="M3" ng-if="message.userId != myId" class="eoko-text-light">
                  {{ message.text }}
                </span>
              </div>
            </div>

            <div ng-if="message.userId == myId">
              <img id="Mm" src="{{message.avatar}}">
              <!--current user's message-->
              <div id="Mm2">
                <div ng-if="message.userId == myId" class="eoko-text-ultralight time" ng-class="{'slide-right': hideTime, '': !hideTime}" style="display: block; float: right; margin-bottom: 2px;">
                      {{message.time}}
                </div>
                <span id="Mm3" ng-if="message.userId == myId" class="eoko-text-light">
                  {{ message.text }}
                </span>
              </div>
            </div>
          </div>

        </div>
      </ion-scroll>

      <ion-footer-bar id="M4" style="{{M4style}}">
          <input id="M4a" type="text" placeholder="Text here..." ng-model="data.messageText" ng-click="showKeyboard()" autofocus>
          <a class="eoko-button-clear eoko-icon-send-message" style="margin-top: 6px;" ng-click="sendMessage()"></a>
      </ion-footer-bar>

    </div>
  </ion-content>
</ion-view>
