<ion-view hide-nav-bar="true">
  <ion-content padding="false" class="innerbackground" scroll="false">
      <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>

    <div class="button-bar">
      <a ui-sref="navController.chat" class="eoko-button-clear ion-chevron-left" native-transitions nav-direction="back"></a>
     <!--  <img id="M" ng-src="{{userInfo.avatar}}"/>
      <a class="M2">{{userInfo.avatar}}</a> -->
    </div>

    <div>

      <ion-scroll style="height: 500px" on-swipe-down="onSwipeDown()" ng-click="dynamicChatBarTap()">
        <div ng-repeat="message in messages track by $index" ng-class="{other: message.userId == myId}" class="messages">

          <div id="M1" ng-class="{'slide-right': hideTime, '': !hideTime}" style="height:auto;">

            <div ng-if="message.userId != myId">
              <img id="M" src="{{message.avatar}}">

              <!--other user's message-->
              <div id="M2">
                <div ng-if="message.userId != myId" class="eoko-text-ultralight time" ng-class="{'slide-right': hideTime, '': !hideTime}">
                      {{message.time}}
                </div>
                <span id="M3" ng-if="message.userId != myId" class="eoko-text-light">
                  {{ message.text }}
                </span>
              </div>
            </div>


            <div ng-if="message.userId == myId">
              <img id="Mm" src="{{message.avatar}}">

              <!--current user's message-->
              <div id="Mm2">
                <div ng-if="message.userId == myId" class="eoko-text-ultralight time" ng-class="{'slide-right': hideTime, '': !hideTime}" style="display: block; float: right; margin-bottom: 2px;">
                      {{message.time}}
                </div>
                <span id="Mm3" ng-if="message.userId == myId" class="eoko-text-light">
                  {{ message.text }}
                </span>
              </div>


            </div>
          </div>

        </div>
      </ion-scroll>


      <div class="chatBar" id="chatBar">
        <input class="eoko-text-area" style="background-color: transparent; border-bottom: transparent; font-size: 17px; width: calc(100% - 3em)" type="text" placeholder="Text here..." ng-model="data.messageText" ng-click="dynamicChatBar()">
        <a class="eoko-button-clear eoko-icon-send-message" style="margin-top: 6px;" ng-click="sendMessage()"></a>
      </div>
    </div>
</ion-content>
</ion-view>
