<ion-view id="navController" >
    
      <ion-tabs class="eoko-tabs-blur" id="navController">
    
          <ion-tab icon-on="eoko-icon-notification-on" icon-off="eoko-icon-notification-off" href="#/navController/notificationPage" id="navController-notificationPage">
            <ion-nav-view name="notificationPage"></ion-nav-view>
          </ion-tab>
    
          <ion-tab icon-on="eoko-icon-action-on" icon-off="eoko-icon-action-off" href="#/navController/actionPage" id="navController-actionPage">
            <ion-nav-view name="actionPage"></ion-nav-view>
          </ion-tab>
    
          <ion-tab icon-on="eoko-icon-people-on" icon-off="eoko-icon-people-off" href="#/navController/peoplePage" id="navController-peoplePage">
            <ion-nav-view name="peoplePage"></ion-nav-view>
          </ion-tab>
    
          <ion-tab icon-on="eoko-icon-chat-on" icon-off="eoko-icon-chat-off" href="#/navController/chatPage" id="navController-chatPage">
            <ion-nav-view name="chatPage"></ion-nav-view>
          </ion-tab>
    
      </ion-tabs>
    
</ion-view>