<ion-view title="Notification Page" hide-nav-bar="true" hide-back-button="true" id="page16">

  <ion-content padding="false"
               style="background: url(img/main_background.png) no-repeat center;background-size:cover;filter: blur({{blurry.behind}});"
               class="manual-ios-statusbar-padding eoko-content" scroll="false">

    <div class="button-bar">

       <!--notification buttons-->
      <a ui-sref="profile" class="eoko-button-clear eoko-bell-left" native-transitions nav-direction="forward">
        <!-- <div ng-if="friendR > 0" class="eoko-notification-number" ng-model="friendR">
          {{friendR}}
        </div> -->
      </a>
      
      <!--Your Actions-->
      <a id="YourActionButton" class="eoko-button-text eoko-text-button-nav " style="margin: 7.5vw;" 
         ng-click="selectYourActionTab()">Created
      </a>
      <!--Notifications-->
      <a id="NotificationButton" class="eoko-button-text-selected eoko-text-button-nav" style="margin: 7.5vw;" 
         ng-click="selectNotificationTab()">Joined
      </a>

      <!--setting button-->
      <a ui-sref="settingPage" class="eoko-button-clear eoko-setting-right" native-transitions nav-direction="forward"></a>
    </div>


    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>


    <!--Notification content-->
    <ion-scroll ng-if="selection.tab == 'notifications' " style="height: calc(100% - 13.5em)"
                delegate-handle="mainScroll">
      <ion-list id="notifyList">

          <ion-item ng-repeat="joined in userJoinedData | orderBy:'-'" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border: 1px solid rgba(255,255,255,0.3);" direction="x"
                  ng-style="draggedStyle[$index]" on-drag-left="onDrag($event, $index)"
                  on-release="onRelease($event, $index, notify)" on-swipe-left="onSwipeLeft(notify, $index)">

          <div class="eoko-notification-avatar" style="background-image: url({{joined.avatar}});"></div>

          <h2 class="eoko-text-thin" ng-if="!notify.friendrequest" style="color: white;font-size: 25px">{{joined.title}}</h2>
           <h2 class="eoko-text-thin" ng-if="notify.friendrequest" style="color: white;font-size: 25px">Friend Request</h2>
          <p class="eoko-text-ultralight" ng-if="!notify.friendrequest" style="color: white;display: inline; font-size: 15px;">
            {{joined.location}}
            <br>{{joined.date}}
            <br>{{joined.time}}
          </p>

          <p class="eoko-text-ultralight" ng-if="notify.friendrequest" style="color: white;display: inline; font-size: 15px;">
            <span style="font-weight:bolder;">{{joined.name}}</span> sent you a friend <br> request!
          </p>

          <button ng-click="openPopover($event, joined,'false')" ng-if="!notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin">
            View
          </button>

          <button ng-click="denyRequest(notify,$index)" ng-if="notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin" style="margin-left:5px;">
            Decline
          </button>
           <button ng-click="acceptRequest(notify.info, notify, $index)" ng-if="notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin">
            Accept
          </button>


        </ion-item>
      </ion-list>
    </ion-scroll>


    <!--Your Actions content-->
    <ion-scroll ng-if="selection.tab == 'yourevents' " style="height: calc(100% - 13.5em)">
      <ion-list id="notifyList">
        <ion-item ng-repeat="actions in yourActionData | orderBy:'-'" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3);">

          <div class="eoko-notification-avatar" style="background-image: url({{actions.avatar}});"></div>
          <h2 class="eoko-text-thin" style="color: white;font-size: 25px">{{actions.title}}</h2>
          <p class="eoko-text-ultralight" style="color: white;display: inline; font-size: 15px;">
            {{actions.location}}
            <br>{{actions.date}}
            <br>{{actions.time}}
          </p>
          <button ng-click="deleteListing(actions)" class="eoko-button-action-event-join eoko-text-thin" style="margin:5px;">
            <!--{{actions.attend}}-->
            Delete
          </button>
          <button ng-click="openPopover($event, actions,'true')" class="eoko-button-action-event-join eoko-text-thin" style="margin:5px;">
            <!--{{actions.attend}}-->
            Edit
          </button>

        </ion-item>
      </ion-list>
    </ion-scroll>


    <!--action detail pop up-->
    <script id="eventFullView.html" type="text/ng-template">

      <div ng-click="checkHit($event)" class="popup-container popup-showing active" ng-class="cssClass">

        <div id="actionPopUp" class="eoko-action-popup">
          <div class="item-body" style="text-align: center">

            <!--action avatar-->
            <div class="eoko-action-avatar" ng-if="nKeyboardActive"
                 style="background-image: url({{modalOpen.info.avatar}}); margin-bottom: 0">
            </div>

            <!--action title-->
            <label ng-if="editNotify == 'true'" class="item item-input" name="eventTitle">

            <input id="ed_labelTitle" type="text" placeholder="Action Name" style="font-size: 1.6em;"
                   class="eoko-input eoko-text-thin" ng-model="modalOpen.info.title"
                   required="">
          </label>

            <h2 ng-if="editNotify == 'false'" class="eoko-text-action-popup-title eoko-text-medium" style="margin-bottom: 0%">
              {{modalOpen.info.title}}
            </h2>


            <div id="actionDetail" class="eoko-show">
              <!--action hosted by-->
              <div ng-if="nKeyboardActive">
                <h4 class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 0">Hosted by</h4>
                <a ng-click="openProfile(modalOpen.info)" class="eoko-button-clear eoko-text-action-popup-title eoko-text-regular"
                   style="margin-bottom: 0">{{modalOpen.info.name}}</a>
              </div>

              <!--action location-->

              <label class="item item-input" name="eventLocation" ng-if="editNotify == 'true'">
              <input id="autocomplete" type="text" placeholder="Location" style="font-size: 1.6em"
                   class="eoko-input eoko-text-thin" value="{{modalOpen.info.location}}" ng-click="geolocate()" required="">
            </label>

              <div ng-if="editNotify == 'false'">
                <a class="eoko-icon-location"></a>
                <h4 class="eoko-text-action-popup-title eoko-text-thin" style="margin-bottom: 0">
                  {{modalOpen.info.location}}
                </h4>

              </div>

              <!--action date/time-->
              <br>

              <label class="item item-input" name="eventDate" ng-if="editNotify == 'true'">
              <input id="ed_labelD" type="date" placeholder="Date" style="font-size: 1.1em;"
                     class="eoko-input eoko-text-thin" ng-model="modalOpen.info.date" required="">
             </label>

          <label class="item item-input" name="eventTime" ng-if="editNotify == 'true'">
              <input id="ed_labelT" type="time" placeholder="Time" style="font-size: 1.1em;"
                     class="eoko-input eoko-text-thin" style="z-index:4;" ng-model="modalOpen.info.time" required="">
            </label>

              <div ng-if="editNotify == 'false'">
                <a class="eoko-icon-date-time"></a>
                <a class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 0; font-size: 18px">
                  {{modalOpen.info.date}}
                </a>
                <a class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 15px;">
                  @ {{modalOpen.info.time}}
                </a>
              </div>

              <!--action descriptions-->
              <textarea placeholder="What is your event about? Make it short"
                  class="eoko-text-area"
                  name="descBox" ng-model="modalOpen.info.description" required="" ng-if="editNotify == 'true'"></textarea>

              <ion-scroll ng-if="editNotify == 'false'" class="eoko-text-thin" style="min-height: 0; max-height: 100px; font-size: 20px;"
                          scrollbar-x="false" scrollbar-y="false">
                {{modalOpen.info.description}}
              </ion-scroll>
            </div>

              <!--list of people are going-->
           <!--  <ul class="family-icon-scroller" style="margin-top: 0px">

              <div ng-if="goingList.length == 0" style="color:white;">Nobody confirmed Yet!</div>

              <li class="systemContainer" ng-repeat="going in goingList">
                <div class="eventViewAvatar" style="background-image: url({{going.info.avatar}});">
                </div>
              </li>
            </ul> -->
           

          </div>
          <!--Join button-->
          <button ng-if="editNotify == 'false'" ng-click="joinEvent(modalOpen)" class="eoko-button-action-event-popup-join">
            Close
          </button>

          <button ng-if="editNotify == 'true'" ng-click="updateListing(modalOpen)" class="eoko-button-action-event-popup-join">Update
          </button>

        </div>
      </div>

    </script>

  </ion-content>
</ion-view>
