<!-- <ion-view title="Profile" hide-nav-bar="true" hide-back-button="true" id="page2">

  <ion-content padding="false"
               style="background: url(img/main_background.png) no-repeat center;background-size:cover;"
               class="manual-ios-statusbar-padding eoko-content" scroll="false">




  </ion-content>
</ion-view> -->


<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="innerbackground" scroll="false">
    <div id="B" ng-show="description==0">
      <h1> WHAT ARE YOU CURRENTLY DOING? </h1>
      <form>
        <div id="B2">
          <button> Food </button>
          <button> Fitness </button>
          <button> Networking </button>
          <button> Nightlife </button>
          <button> Pickup Sports </button>
          <button> Study </button>
          <button> Party </button>
          <button> Meetup </button>
        </div>
        <input type="text" placeholder="Title (e.g Coffee at Saxby)"/>
        <input type="text" placeholder="Location"/>
        <input type="text" placeholder="Time"/>
        <div id="B3">
          <button ng-click="description=1"> NEXT </button>
        </div>
      </form>
    <h4> Skip <i class="fa fa-chevron-right" aria-hidden="true"></i></h4>
    </div>
    <div id="B" ng-show="description==1">
      <button id="back" ng-click="goback()"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
      <textarea placeholder="Description (Currently drinking coffee at Saxby. Anyone want to hangout?)"></textarea>
      <button id="submit"> SUBMIT </button>
    </div>
</ion-view>
