<ion-view title="Profile" hide-nav-bar="true" hide-back-button="true" id="page2">

  <ion-content padding="false"
               style="background: url(img/main_background.png) no-repeat center;background-size:cover;"
               class="manual-ios-statusbar-padding eoko-content" scroll="false">

    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>


    <div ng-if="alcick != true && !(toggleEdit)" class="button-bar">

    <a ui-sref="tabsController.notifications" class="eoko-button-clear ion-chevron-left" native-transitions nav-direction="back">

      </a>
     


    </div>


    <!--back to connect page when viewing other profile-->
    <div ng-if="alcick == true" class="button-bar">
      <a ui-sref="tabsController.connect" class="eoko-button-clear ion-chevron-left"></a>
    </div>


    <!--profile information-->
    <ion-scroll id="profileScroll" style="height: calc(100% - 11.5em);" scrollbar-x="false" scrollbar-y="false">

      <!--profile pic-->
      <div ng-if="alcick != true && !(toggleEdit)" on-hold="uploadPic()" style="background-image: url({{user.avatar}});background-color:#cfd0d6;" class="eoko-profile-avatar">
        <div ng-if="isFriend == false" ng-click="addFriend(user); $event.stopPropagation();" class="addFriendButton">+
        </div>

	         <a ng-if="alcick == true" class="eoko-button-clear eoko-icon-chatbox-right" native-transitions="" nav-direction="forward" ng-click="createMessage()" style="position: relative;left: 44px;top: 129px;height: 25px;width: 25px;"></a>
      </div>

      <div ng-if="alcick == true" style="background-image: url({{user.avatar}});" class="eoko-profile-avatar">
        <div ng-if="isFriend == false" ng-click="addFriend(user); $event.stopPropagation();" class="addFriendButton">+
        </div>

           <a ng-if="alcick == true" class="eoko-button-clear eoko-icon-chatbox-right" native-transitions="" nav-direction="forward" ng-click="createMessage()" style="position: relative;left: 44px;top: 129px;height: 25px;width: 25px;"></a>
      </div>

       <!--Div for editing mode-->
       <div ng-if="toggleEdit == true">
       
        <div class="row">
          <div class="col text-center">
          <label class="item-input login-label item-floating-label eoko-text-input-form">
          <span class="input-label lable-font-login eoko-text-input-form">Your name</span>
          <input class="eoko-text-ultralight" style="border: none; font-size: 33px" type="text" placeholder="{{user.name}}" ng-model="user.name" >
        </label>


        <label class="item-input login-label item-floating-label eoko-text-input-form">
          <span class="input-label lable-font-login eoko-text-input-form">Description</span>
          <textarea style="border: none; font-size: 20px;height:6.1em;" class="eoko-text-area eoko-text-input-form eoko-text-ultralight" autofocus placeholder="{{user.description}}" ng-model="user.description">
          </textarea>
        </label>
        
          <button class="button button-large button-light button-outline" ng-click="updateInfo()">
            UPDATE
          </button>
          </div>
        </div>

      </div>


      <!--div if it is not editing mode-->
      <div ng-if="toggleEdit != true">
        <h3 class="eoko-text-ultralight" id="profile-heading3" style="font-size: 40px; text-align:center;">
          {{user.name}}</h3>
        <h4 class="eoko-text-ultralight" style="font-size: 20px; text-align:center;">{{user.points}} Points</h4>

           <div class="col">
        <h4 class="eoko-text-ultralight" id="profile-heading4" style="font-size: 20px; text-align:center;">
          {{user.description}}
          
          <button class = "button button-small button-icon button-light" ng-if="alcick != true" ng-click="toggleEditButton()" ng-model="toggleEdit"> 
            <i class="icon ion-edit"></i>
          </button>

          </h4>
        </div>

      </div>

      <br><br>

    


      <!--Notification content-->
    <ion-scroll style="height: calc(100% - 13.5em)"
                delegate-handle="mainScroll">

          <div ng-if="notifyData.length == 0" class="eoko-text-button-nav" style="text-align:center;">No new
    notifications
  </div>
      <ion-list id="notifyList">

          <ion-item ng-repeat="notify in notifyData | orderBy:'-'" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border: 1px solid rgba(255,255,255,0.3);" direction="x"
                  ng-style="draggedStyle[$index]" on-drag-left="onDrag($event, $index)"
                  on-release="onRelease($event, $index, notify)" on-swipe-left="onSwipeLeft(notify, $index)">

          <div class="eoko-notification-avatar" style="background-image: url({{notify.avatar}});"></div>
           <h2 class="eoko-text-thin" style="color: white;font-size: 25px">Friend Request</h2>

          <p class="eoko-text-ultralight" style="color: white;display: inline; font-size: 15px;">
            <span style="font-weight:bolder;">{{notify.name}}</span> sent you a friend <br> request!
          </p>

          <button ng-click="denyRequest(notify,$index)" class="eoko-button-action-event-join eoko-text-thin" style="margin-left:5px;">
            Decline
          </button>
           <button ng-click="acceptRequest(notify, notify, $index)" class="eoko-button-action-event-join eoko-text-thin">
            Accept
          </button>


        </ion-item>
      </ion-list>
    </ion-scroll>

      <!-- INSTAGRAM FUNCTIONS - UNCOMMENT WHEN FULL API -->
      <!-- <h4 class="eoko-text-thin" style="font-size: 20px; padding-left: 30px">
        Instagram photos
      </h4>
      <ion-scroll direction="x" class="eoko-horizontal-scroll" scrollbar-x="false" scrollbar-y="false">
        <img class="eoko-horizontal-scroll-item" ng-repeat="item in ngInstafeedModel.data"
             ng-if="item.images.standard_resolution.url != 'https://instagramstatic-a.akamaihd.net/null.jpg'"
             ng-src="{{item.images.standard_resolution.url}}"/>
      </ion-scroll> -->

    </ion-scroll>


    <div class="spacer" style="width: 300px; height: 27px;"></div>


  </ion-content>
</ion-view>
