<!-- <ion-view title="Profile" hide-nav-bar="true" hide-back-button="true" id="page2">

  <ion-content padding="false"
               style="background: url(img/main_background.png) no-repeat center;background-size:cover;"
               class="manual-ios-statusbar-padding eoko-content" scroll="false">




  </ion-content>
</ion-view> -->


<ion-view hide-nav-bar="true">
  <ion-content padding="true" class="background" scroll="false">
    <div id="B">
      <h1> WHAT ARE YOU CURRENTLY DOING? </h1>
      <form>
        <div id="B2">
          <button> Food </button>
          <button> Fitness </button>
          <button> Networking </button>
          <button> Nightlife </button>
          <button> Pickup Sports </button>
          <button> Study </button>
          <button> Party </button>
          <button> Meetup </button>
        </div>
        <input type="text" placeholder="Title (e.g Coffee at Saxby)"/>
        <textarea placeholder="Description (Currently drinking coffee at Saxby. Anyone want to hangout?)"></textarea>
        <div id="B3">
          <button> SUBMIT </button>
        </div>
      </form>
    <h4> Skip >> </h4>
    </div>
</ion-view>
