<ion-view id="home" >

  <ion-tabs class="eoko-tabs-blur" id="tabsController-tabs1">

      <ion-tab icon-on="notification-icon-on" icon-off="notification-icon-off" href="#/home/notification" id="tabsController-tab1">
        <ion-nav-view name="tab1"></ion-nav-view>
      </ion-tab>

      <ion-tab icon-on="action-icon-on" icon-off="action-icon-off" href="#/home/action" id="tabsController-tab2">
        <ion-nav-view name="tab2"></ion-nav-view>
      </ion-tab>

      <ion-tab icon-on="people-icon-on" icon-off="people-icon-off" href="#/home/people" id="tabsController-tab3">
        <ion-nav-view name="tab3"></ion-nav-view>
      </ion-tab>

      <ion-tab icon-on="chat-icon-on" icon-off="chat-icon-off" href="#/home/chat" id="tabsController-tab4">
        <ion-nav-view name="tab4"></ion-nav-view>
      </ion-tab>

  </ion-tabs>

</ion-view>
