/* CODE FOR CSS:
A: LOGIN PAGE

*/

@import url('https://fonts.googleapis.com/css?family=Roboto');


.background{
   background: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
  url(../img/outerbackground.jpeg);
   background-size:cover;
   background-position: center;
}

.innerbackground{
  background: linear-gradient(
                    rgba(0,0,0,0.4),
                    rgba(255,255,255,0.85)),
 url(../img/background.png);
  background-size:cover;
  background-position: center;
}

input::placeholder, textarea::placeholder{
  color: grey;
}

select{
  border: 0.5px white solid;
}

.logo, .tagline{
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.tagline{
  margin-top: 10px;
}




/* -------------------------------- NAVIGATION BAR --------------------------- */
#navbar{
  width: 100%;
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;

}
#navbar button{
  color: rgba(0,0,0,0.3);
  width: 25%;
  font-size: 45px;
}

#error{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* -------------------------------- LOGIN SCREEN ----------------------------- */
#A img{
  display: block;
  margin: auto;
  padding-top: 180px;
  width: 70%;
}

#A button, #B3 button, #submit{
  display: block;
  margin: auto;
  margin-top: 10%;
  border: none;
  padding: 3%;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255,255,255,0.3);
  color: white;
  font-size: 150%;
  width: 75%;
}

#A p{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 18px;
  margin-top: 5%;
}


/* ---------------------------- INITIAL ACTION SCREEN ------------------------ */


#B h1{
  color: white;
  font-family: 'Roboto';
  text-align: center;
}

#B h4{
  font-family: 'Roboto', sans-serif;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#B input, #B textarea{
  width: 90%;
  border: none;
  background: rgba(255,255,255,0.9);
  color: grey;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: auto;
  padding: 5%;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.3);

}

#B textarea{
  margin-top: 10px;
  height: 100px;
}

#B p{
  color: rgba(255,255,255,0.8);
  font-style: italic;
}

#B2{
  margin-top: 5%;
  margin-right: 7%;
  margin-bottom: 5%;
  margin-left: 7%;
}
#B2 button{
  color: white;
  font-family: 'Roboto', sans-serif;
  border: 1px rgba(255, 255, 255, 0.61) solid;
  background: none;
  margin: 5px;
  font-size: 15px;
  border-radius: 15px;
  padding: 2%;
}

#B3 button, #submit{
  margin-top: 5%;
  width: 90%;
  color: white;
  border-radius: 20px;
  background: rgba(230, 126, 34, 0.6);
}

#back{
  color: white;
  font-family: 'Robot', sans-serif;
  position: fixed;
  top: 10px;
  font-size: 20px;
}


#B4 button{
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: transparent;
  border: none;
  border: 1px rgba(255, 255, 255, 0.61) solid;
  width: 70px;
  height: 40px;
  border-radius: 10px;
}

#B4{
  margin-left: 30%;

}



/* ---------------------------- PEOPLE WITHIN 10 MILES ------------------------ */
#C{
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
}

#C1, #E2A, #I2{
  background: rgba(255,255,255,0.8);
  opacity: 0.9;
  height: 85px;
  margin-bottom: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.3);
  display: flex;
  padding: 3%;
}

#C1 img, #E2A img, #I2 img{
  object-fit: cover;
  width: 70px;
  height: 55px;
  border-radius: 40px;
  margin-left: 10px;
  margin-top: 2px;
}

#C2 img{
  width: 30px !important;
  height: 30px !important;
  margin-right: 7%;
}

#C2{
  margin-top: 6px;
  margin-left: 10%;
}

#C1A, #I2A{
  position: relative;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  padding: 3%;
  font-size: 20px;
}

#one, #two{
  border-radius: 3px !important;
}

#C3{
  padding-right: 10px;
  padding-top: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------- EOKO NUDGE -------------------------------------- */
#D{
  height: 210px;
  width: 260px;
  background: rgba(230, 126, 34, 0.9);
  left:60px;
  top: 200px;
  position: fixed;
  padding-top: 3%;
  z-index: 900;
}

#D h3{
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
}

#D h4{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0px;
}

#D1 p{
  font-size: 15px;
  position: absolute;
  color: white;
  top: 5px;
  right: 5px;
}

#D1 i{
  font-size: 15px;
  position: absolute;
  color: white;
  top: 5px;
  right: 5px;
}


#D2{
  display: flex;
}

#D2A, #D2C{
  width: 40%;
  text-align: center;
}

#D2A img{
  object-fit: cover;
  margin-left: 7%;
}


#D2B{
  width: 20%;
}

#D2B i{
  color: white;
  font-size: 30px;
  margin-top: 50%;
  position: relative;
  padding-left: 20px;
}

#D3 button{
  display: block;
  margin: auto;
  background: white;
  border: none;
  color: rgb(230, 126, 34);
  font-size: 20px;
  margin-top: -20px;
  border-radius: 10px;
}

#D img{
  width: 70px;
  height: 70px;
  border-radius: 40px;
}

/* ---------------------------------------- EVENTS PAGE -------------------------------------- */
#E1{
  width: 100%;
  display: flex;
}

#E1 i{
  padding-top: 2%;
  padding-left: 2%;
  width: 10%;
  color: white;
  font-size: 20px;
}
#E1 button{
  color: white;
  font-family: 'Roboto', serif;
  width: 45%;
  font-size: 23px;
  text-align: left;
}

#E1A{
  width: 50%;
  border: none;
}

#E1A button, #E1B button{
  text-align: center;
  display: block;
  margin: auto;
  border: none;
  background: transparent;
  width: 100px;

}

#E1B{
  padding-left: 7%;
  width: 50%;
}

#E1{
  margin-bottom: 10px;
}



/* ---------- DISPLAY CARDS OF CURRENT ACTIONS ------- */
#E2{
  padding-left: 5%;
  padding-right: 5%;
}

#E2 h4{
  font-family: 'Roboto', sans-serif;
  margin-left: 5%;
  margin-top: 0%;
}

#E2A1{
  width: 100%;
}

#E2 h5{
  display: inline-block;
  margin-top: 0px;
  padding-left: 15%;
}



/* --------------------------- EVENT NUDGE -------------------------------- */

#F1 img{
  margin-top: 10px !important;
  display: block;
  margin: auto;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 35px;
}

#F h1{
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 5px;
}

#F h2{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

#F1A{
  margin-left: 15%;
}

#F h3{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: inline-block;
  margin-top: 0px;
  margin-left: 30px;
}

#F h5{
  position: fixed;
  color: white;
  right: 50px;
}

#F p{
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
}

#F button{
  display: block;
  margin: auto;
  width: 90%;
  background: rgba(255,255,255,0.9);
  color: rgba(230, 126, 34, 0.9);
  border: none;
  height: 30px;
  border-radius: 15px;
  margin-top: 20px;
}


#F2{
  padding-left: 5%;
}

#F2 img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

#F2 p{
  font-style: italic;
  margin-top: 30px;
}


/*----------- */

#G p{
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 5%;
  font-size: 16px;
  margin-bottom: 10px;
}

#G button{
  display: block;
  background: rgba(255,255,255,0.7);
  color: black;
  border: none;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  padding: 3%;
  border-radius: 5px;
  width: 100px;
}


/* -------------------------- SETTINGS PAGE --------------------------------- */
#H p{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  font-style: italic;
  margin-bottom: 20px;
}

.active{
  border-bottom: 0.1px solid rgba(255,255,255,0.3) !important;
}

#container{
  width: 50%;
}

#H1{
  display: flex;
  width: 100%;
  margin-top: 20px;
}


/* VIEW AND PRIVACY BUTTONS */
#H1 button{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 18px;
  width: auto;
  margin-top: 15px;
  background: transparent;
  border: none;
  display: block;
  margin: auto;
}

#H2, #H3{
  display: flex;
  width: 100%;
}


/* public, private or both buttons */
#H2 button, #H3 button{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 15px;
  border: none;
  background: none;
  border: 0.1px rgba(255, 255, 255, 0.3) solid;
  border-radius: 5px;
  height: 50px;
}

/*public, private, or both buttons */
#H2 button, #H3 button{
  width: 45%;
  margin-right: 10px;
  margin-left: 10px;
}

#H4 button{
  border: none;
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 10%;
  background: rgba(230, 126, 34, 0.9);
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
}


/* ---------------------------- STYLING FOR JOIN LIST PAGE --------------------- */
#I{
  padding-left: 5%;
  padding-right: 5%;
}
#I1{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

#I1 button{
  width: 49%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  padding-bottom: 20px;
  background: none;
  border: none;
  height: 40px !important;
}

#I1 i{
  color: white;
  font-size: 20px;
  margin-top: 8px;
  margin-right: 2px;
}

#I2{
  border-right: 10px solid rgba(230, 126, 34, 0.9);
}


#I2A {
  padding-left: 5%;
  font-size: 18px;
}

#I2 h3{
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

#I2B button{
  background-color: rgba(230, 126, 34, 0.9);
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 70px;
  border: none;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 5px;
}

/* --------------------- EDIT PAGE --------------- */
#K i{
  color: white;
  margin-bottom: 0px;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

#K h2{
  margin-top: -10px;
  padding-bottom: 5%;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}



/* --------------------- CHAT PAGE --------------- */
#L {
  background: rgba(255,255,255,0.8);
  opacity: 0.9;
  height: 40px;
  margin-bottom: 17px;
  border-radius: 7px;
  box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.3);
  display: flex;
  padding: 1%;
}

#L a{
  margin-right: 10px;
}

#L input{
  background: none;
  border: none;
  font-size: 20px; 
  color: #263238;
  /* text-align: center; */
}

#L1{
  overflow: scroll;
  white-space: nowrap;
}






/* --------------------- CHAT PAGE DETAIL --------------- */








/*-------------Michael's crap css again----------*/


.details{
    margin: 15% 10%;
    height: 60%;
    background-color: #F27C22;
    width: 80%;
    opacity: 0.90;
}

.popover-wrapper{
  height: 100%;
}

.eoko-horizontal-scroll-button {
  background: transparent;
    border-radius: 14px;
    border-width: 1px;
    border-style: solid;
    min-width: 61px;
    padding: 3px 6px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 18px;
  border-color: white;
  color: white;
   width: auto; }

.eoko-horizontal-scroll-button-selected {
  border-color: #F57C00;
  background: #F57C00;
  border-radius: 14px;
  border-width: 1px;
  min-width: 61px;
  border-style: solid;
 margin-left: 2px;
  margin-right: 2px;
  width: auto;
   padding: 3px 6px;
  font-size: 18px;
  color: white; }


.button.button-energized.button-outline {
  border-color: white;
  color: white;
  }

  ion-scroll[direction=y] {
  height: 100vh;
}