.input-label {
	color: white;
}

.item{
	border-color: rgba(0,0,0,0);
	background-color:rgba(0,0,0,0);
	white-space: normal;
}


.card, .list-inset{
    background-color: rgba(0,0,0,0);
}

.userDeselected{
	opacity: 0.33;
}

.userSelected{
	opacity: 1;
}


.platform-android .header-item.title {
    transition-duration: 0ms;
}
.platform-android .header-item.buttons {
    transition-duration: 0ms;
}

.privatePublic{
  border-radius:14px;
}


.platform-ios .popover-arrow:after{
  background-color:rgba(255, 188, 0, 0.44);
  border-color:rgba(255, 188, 0, 0.44);
}

.bar{
  background-color: rgba(255, 255, 255, 0.32);
}


.messages.other {
  position: relative;
  text-align: right;
}

.messages span {
  background-color: #c2b3ad;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 12px;
  margin: 10px;
  max-width: 93%;
  color: white;
}

.messages.other span {
  background-color: #b66f31;
}


.popupNameSearch {
    position: absolute;
    background-color: rgba(245, 124, 0, 0.95);
    width: 96vw;
    border-radius: 33px;
    border: 1px solid #9b7762;
}

.closebutton{
      z-index: 4;
    position: relative;
    left: 78%;
    top: 2px;
    font-size: 33px;
    color: white;
    text-align: center;
    line-height: 46px;
}

.addFriendButton{
      font-size: 33px;
    color: white;
    float: right;
    padding: 3px;
}

.chat-icon-on{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../img/chat_icon_bottom.png');
  -webkit-transform: .5s;
  padding-bottom: 36px;
}

.eoko-horizontal-scroll-button {
  border-color: white;
  color: white;
  width: auto;
}

.eoko-horizontal-scroll-button-selected
{
  color: white;
  width: auto;
}

.button.button-energized.button-outline {
  border-color: white;
  color: white;
  }


  .arrowThing{
    font-size: 33px;
    background-color: rgba(255, 165, 0, 0);
    margin-top: -42px;
    color: #f57c00;
    text-shadow: -1px 0px 0px white;
  }

  .event-icon-on{
    padding-bottom: 40px;
  }

  .keyboard-open .tabs{
  display:none;
  }
.keyboard-open .has-tabs{
 bottom:0;
 }

 .chatBar{
    bottom: 0%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.32);
    width: 100%;
    height: 44px;
    display: flex;
 }


 /*cause sass is being dumb*/

 .eoko-bell-left{
  background-image: url("../img/profile_icon_on.png");
  height: auto;
}


.profile-icon-on{
  background-image: url('../img/notification_icon_on.png');
  padding-bottom: 40px;
}


.profile-icon-off{
  background-image: url('../img/notification_icon_off.png');
  padding-bottom: 40px;
}


.family-icon-scroller {
    -webkit-overflow-scrolling: touch;
    padding: 5px 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    margin-top: -80px;
    position: relative;
}

.systemContainer {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin: 0 2px;
}


.eoko-tabs-blur .tab-nav.tabs{
  background-color: rgba(0, 0, 0, 0.13);
  padding-top: 2%;
}
  


